*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: rgb(191, 7, 7);
}
#postForm{
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 10px;
}

label,
input,
textarea{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;
}
button{
    background-color: rgb(191, 7, 7);
    cursor: pointer;
    color: #ccc;
    width: 100%;
    padding: 0.25rem;
    border-radius: 10px;
}
button:hover{
background-color: #a00000;
}

textarea{
    resize: none;
}

#list{
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}
.post{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}
.post h2{
    color: #a00000;
    margin-bottom: 5px;
}
.post button {
    background-color: #df3000;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    margin-bottom: 5px;
}
.post button::hover{ 
    background-color:#a00000
}
